body {
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}



@media (max-width: 768px) {
  body {
    background-image: url("assets/bg_phone.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  }
}
